body {background-color: ghostwhite; }

.max-min-size {
    max-width: 832px;
    min-width: 792px;
}
#constructor {
all: initial;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.elem {
    overflow: hidden;
}

#constructor-ch-car-wrap {
    position: relative;
    margin: 0 auto;
    width: 832px;
    height: 30px;
}

#constructor-ch-car {
    position: relative;
    float: left;
    margin: auto;
    width: calc(100% - 30px);
    height: 30px;
    box-sizing: border-box;
    /*border: 1px solid green;*/
    text-align: center;
    line-height: 30px;
	font-size: 30px;
	color: #EF0003;
		font-weight: 800;
		letter-spacing: 0.115em;
		min-width: 5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;  
}

#constructor-arrow-left, #constructor-arrow-right {
    position: relative;
    float: left;
    width: 0;
    height: 0;
}

#constructor-arrow-right {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid blue;
	cursor: pointer;
}

#constructor-arrow-right:hover {
	border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #0176C5;
		
		}

#constructor-arrow-left {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid blue;
	cursor: pointer;
}

#constructor-arrow-left:hover {
	border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #0176C5;
		
		}

#constructor-center {
    position: relative;
    width: 100%;
    height: 470px;
    margin: 5px auto 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    border: solid 1px rgba(224, 224, 224, 0.75);
}

#constructor-view {
    position: relative;
    float: left;
    width: 728px;
    height: 470px;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

#constructor-view .elem {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#constructor-body-color {
    position: relative;
    float: left;
    width: calc(100% - 728px);
    height: 470px;
}


#constructor-body-color .elem {
    position: relative;
    width: 75px;
    height: 37px;
    margin: 5px auto 0 auto;
    box-sizing: border-box;
    border: 1px solid #ffc8c3;
    border-radius: 4px;
	cursor: pointer;
	opacity: 0.7;
}

#constructor-body-color .elem:hover {
    opacity: 1;
}

#constructor-body-color .elem.activated, #constructor-body-color .elem:active {
    border: 2px solid red;
    font-weight: bold;
	opacity: 1;
}



#constructor-category-list {
    position: relative;
    margin: 2px auto 0 auto;
    box-sizing: border-box;
 /*   height: 50px;*/
    border: solid 1px rgba(224, 224, 224, 0.75);
	border-radius: 2px;
}


#constructor-category-list .elem {
  -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		/*background: #5d6061;*/
		border-radius: 4px;
		border: 1px solid #0176C5;
		color: #0176C5;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 2em;
		min-width: 5em;
		padding: initial;
		padding: 1px 0.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;  
		margin: 3px 2px;
}

#constructor-category-list .elem:hover {
			border: 1px solid #2DC937;
			color: #2DC937;
		
		}

#constructor-category-list .elem.activated, #constructor-category-list .elem:active {
			background: #EF0003;
			border: 1px solid #EF0003;
		    color: #ffffff;
}



/*
#constructor-category-list .elem {
    position: relative;
    float: left;
    width: 70px;
    height: 40px;
    margin: 2px 5px;
    box-sizing: border-box;
    border: 1px solid #ffc8c3;
    text-align: center;
    line-height: 38px;
    overflow: hidden;
}

#constructor-category-list .elem.activated, #constructor-category-list .elem:active {
    border: 1px solid red;
    font-weight: bold;
}
*/


#constructor-category {
    position: relative;
    margin: 2px auto 0 auto;
    box-sizing: border-box;
   /* height: 50px; */
    border: solid 1px rgba(224, 224, 224, 0.75);
	border-radius: 2px;
	
}


#constructor-category .elem {
  -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		/*background: #5d6061;*/
		border-radius: 4px;
		border: 1px solid #5d6061;
		color: #5d6061;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 2em;
		min-width: 5em;
		padding: 1px 0.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;  
		margin: 3px 2px;
}

#constructor-category .elem:hover {
			border: 1px solid #2DC937;
			color: #2DC937;
		
		}

#constructor-category .elem.activated, #constructor-category .elem:active {
			background: #EF0003;
			border: 1px solid #EF0003;
		    color: #ffffff;
}

#constructor-category .elem.null-stock {}


#constructor-category-color {
    position: relative;
    margin: 2px auto 2px auto;
    box-sizing: border-box;
    height: 37px;
    border: solid 1px rgba(224, 224, 224, 0.75);
	border-radius: 2px;
}


#constructor-category-color .elem {
  -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		/*background: #5d6061;*/
		border-radius: 4px;
		border: 1px solid #293038;
		color: #293038;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 2em;
		min-width: 5em;
		padding: 1px 0.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;  
		margin: 3px 2px;
}

#constructor-category-color .elem:hover {
			border: 1px solid #2DC937;
			color: #2DC937;
		
		}

#constructor-category-color .elem.activated, #constructor-category-color .elem:active {
		background: #EF0003;
		border: 1px solid #EF0003;
		color: #ffffff;
}

#constructor-category-color .elem.palette {width: 25px; height: 29px; border-radius: 4px; min-width: 50px;}

#constructor-category-color .elem.palette.activated, #constructor-category-color .elem.palette:active {width: 23px; height: 29px; border: 2px solid #EF0003;}


#constructor-category-color .to-body-color {
 
		border-radius: 4px;
		border: 1px solid #293038;
		color: #293038;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 2em;
		min-width: 5em;
		padding: 1px 0.5em;
		padding: 1px 0.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;  
		margin: 3px 2px;
		overflow: hidden;
}

#constructor-category-color .to-body-color:hover {
			border: 1px solid #2DC937;
			color: #2DC937;
		
		}

#constructor-category-color .to-body-color:active, #constructor-category-color .to-body-color.activated {
    background: #EF0003;
		border: 1px solid #EF0003;
		color: #ffffff;
}


/*  media  */

@media screen and (max-width: 980px) {
	.max-min-size {
		min-width: 674px;
	}

	#constructor-ch-car-wrap {
		width: 707px;
		height: 30px;
	}
	
	#constructor-ch-car {
        width: calc(100% - 30px);
		height: 30px;
	}
	
	#constructor-center {
        width: 707px;
		height: 400px;
	}
	
	#constructor-view {
		width: 619px;
		height: 400px;
	}
	
	#constructor-body-color {
		width: calc(100% - 619px);
		height: 400px;
	}
	
	#constructor-category-list {
		width: 707px;
	}
	
	#constructor-category {
		width: 707px;
	}
	
	#constructor-category-color {
		width: 707px;
	}

}

@media screen and (max-width: 830px) {
	.max-min-size {
		min-width: 555px;
	}

	#constructor-ch-car-wrap {
		width: 583px;
	}
	
	#constructor-view {
		width: 510px;
		height: 329px;
	}
	
	#constructor-ch-car {
        width: calc(100% - 30px);
		height: 30px;
	}
	
	#constructor-center {
        width: 583px;
		height: 329px;
	}
	
	#constructor-view {
		width: 510px;
		height: 329px;
	}
	
	#constructor-body-color {
		width: calc(100% - 510px);
		height: 329px;
	}
	
	#constructor-body-color .elem {
		width: 50px;
		height: 30px;
	}
	
	#constructor-category-list {
		width: 583px;
	}
	
	#constructor-category {
		width: 583px;
	}
	
	#constructor-category-color {
		width: 583px;
	}
}

/* Preloader */

#constructor-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.7);
    z-index: 100;
}

#constructor-preloader-content {
    position: absolute;
    width: 50%;
    height: 100px;
    top: calc(50% - 50px);
    left: 25%;
	/*background-color: rgba(255, 0, 0, 0.69);*/
	text-align: center;
}

#constructor-preloader-car, #constructor-preloader-progress {
	position: relative;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #000;
}