body {background-color: ghostwhite; }

/* Тестовый комиит из веба */
.test-class-web-version {}

.max-min-size {
    max-width: 1000px;
    min-width: 823px;
}

#constructor {
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.elem {
    overflow: hidden;
}

#constructor-ch-car-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 40px;
}

#constructor-ch-car {
    position: relative;
    float: left;
    margin: auto;
    width: calc(100% - 40px);
    height: 40px;
    box-sizing: border-box;
    /*border: 1px solid green;*/
    text-align: center;
    line-height: 40px;
}

#constructor-arrow-left, #constructor-arrow-right {
    position: relative;
    float: left;
    width: 0;
    height: 0;
}

#constructor-arrow-right {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid blue;
}

#constructor-arrow-left {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid blue;
}

#constructor-center {
    position: relative;
    width: 100%;
    height: 701px;
    margin: 5px auto 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #2f34ff;
}

#constructor-view {
    position: relative;
    float: left;
    width: 823px;
    height: 701px;
    box-sizing: border-box;
    overflow: hidden;
}

#constructor-view .elem {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#constructor-body-color {
    position: relative;
    float: left;
    width: calc(100% - 823px);
    height: 100%;
}


#constructor-body-color .elem {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
    border: 1px solid #ffc8c3;
    border-radius: 8px;
}

#constructor-body-color .elem.activated, #constructor-body-color .elem:active {
    border: 1px solid red;
    font-weight: bold;
}



#constructor-category-list {
    position: relative;
    margin: 5px auto 0 auto;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid black;
}


#constructor-category-list .elem {
    position: relative;
    float: left;
    width: 70px;
    height: 40px;
    margin: 2px 5px;
    box-sizing: border-box;
    border: 1px solid #ffc8c3;
    text-align: center;
    line-height: 38px;
    overflow: hidden;
}

#constructor-category-list .elem.activated, #constructor-category-list .elem:active {
    border: 1px solid red;
    font-weight: bold;
}



#constructor-category {
    position: relative;
    margin: 5px auto 0 auto;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid black;
}


#constructor-category .elem {
    position: relative;
    float: left;
    width: 100px;
    height: 40px;
    margin: 2px 5px;
    box-sizing: border-box;
    border: 1px solid #ffc8c3;
    text-align: center;
    line-height: 38px;
    overflow: hidden;
}

#constructor-category .elem.activated, #constructor-category .elem:active {
    border: 1px solid red;
    font-weight: bold;
}

#constructor-category .elem.null-stock {}


#constructor-category-color {
    position: relative;
    margin: 5px auto 0 auto;
    box-sizing: border-box;
    height: 50px;
    border: 1px solid black;
}


#constructor-category-color .elem {
    position: relative;
    float: left;
    width: 80px;
    height: 40px;
    margin: 2px 5px;
    box-sizing: border-box;
    border: 1px solid #ffc8c3;
    text-align: center;
    line-height: 38px;
    overflow: hidden;
}

#constructor-category-color .elem.activated, #constructor-category-color .elem:active {
    border: 1px solid red;
    font-weight: bold;
}

#constructor-category-color .elem.palette {width: 40px; border-radius: 8px;}



#constructor-category-color .to-body-color {
    position: relative;
    float: left;
    width: 80px;
    height: 40px;
    margin: 2px 5px;
    box-sizing: border-box;
    border: 1px solid #ffc8c3;
    text-align: center;
    line-height: 38px;
    overflow: hidden;
}

#constructor-category-color .to-body-color:active, #constructor-category-color .to-body-color.activated {
    border: 1px solid red;
    font-weight: bold;
}